
{% load static %}
<div class="col-lg-4 col-sm-6 align-items-center justify-content-center">
        <a href="{% url 'post-detail' slug=post.slug %}" style="text-decoration: none">
            <div class="img-container justify-content-center align-items-center" style="padding: 1rem;">
                <img src="{{ post.image.url }}" class="card-img" alt="Image 1 Description">
                <div class="overlay text-white p-3 flex-column align-items-center">
                <p class="postdate mb-0" style="color: white; text-decoration: none;">{{ post.date }}</p>
                <p class="posttitle mb-0" style="color: white; text-decoration: none;">{{ post.title }}</p>
                </div>
            </div>
        </a>
</div>

