option_settings:
  - namespace: aws:elasticbeanstalk:environment:proxy:staticfiles
    option_name: /static
    value: staticfiles
  - namespace: aws:elasticbeanstalk:environment:proxy:staticfiles
    option_name: /files
    value: uploads
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MAX_UPLOAD_SIZE
    value: 20m
