{% extends "base.html" %}
{% load static %}

{% block title %}
About Me
{% endblock %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}
<div class="text-white">
<p class="text-center h4">JT Sarmento | (925) 628-1472 | Orange County CA | jt.sarmento4@gmail.com</p>
</div>
<br>
<br>
<div class = "container">
<div class="row mx-auto text-white d-flex align-items-center">
    <p class="h3 bold-text">Mission statement</p>
    <img class = "card-img w-25" src="{% static 'blog/images/IMG_4961.jpeg' %}" alt="">
    <div class="col-8 align-items-center">
        Objective and passionate story-teller with 8+ years of experience with data engineering, transformation, analysis and visualization.  Enthusiastic about strategic problems requiring innovative thought leadership to solve.  Leading with values of communication, competitiveness, coachability and teamwork.</div>
</div>
<br>
<br>
<br>
<div class="row mx-auto text-white d-flex align-items-center">
<p class="h3 bold-text">Work Experience</p>
    <img class = "img-fluid w-25" src="{% static 'blog/images/circlesbali.png' %}" alt="">

    <div class="col-8">
        <p class="h5 bold-text">Circles Bali - Data Engineer - Aug. 2023-Feb. 2024</p>
        Led dashboard development using open source software application Superset while managing Postgresql database and data warehouse. Created views that translated complex application usage and user data into actionable insights, driving stimulus events and field staff incentives.
    </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row mx-auto text-white d-flex align-items-center">
    <div class="col-8">
        <p class="h5 bold-text">Monster Energy - Large Store Business Intelligence Manager - Oct. 2022 - Mar. 2024</p>
        Developed and managed holistic analytical suite of dashboard reporting for Large Store and Emerging Channels, collaborating with CCO and VPs to cater to their needs <br><br>
        Created companies first “Execution Dashboard” aggregating +350M rows of invoice data defining and tracking out of stocks and distribution success by store level resulting in increases of ~+5% distribution for focus brands <br><br>
        Developed internal “Channel Connect” system standardizing reporting for each retail channel on a automated basis, resulting in saving ~120 hours of time of manual reporting a year <br><br><br>
    
    
    </div>
    <img class = "card-img w-25" src="{% static 'blog/images/IMG_2500.PNG' %}" alt="">
    <div class="col-8">
        
        <p class="h5 bold-text">Monster Energy - Category Management Data Analyst - Feb. 2021 - Oct. 2022</p>
        Responsible for developing and maintaining suite of internal Power BI point of sale dashboards, aggregating many sources of data, creating efficient pipelines and transforming using programmatic languages <br><br>
        Grew 97 users/4k unique views per month to 600 users/12k unique views per month in one year <br><br>
        Developed standardized report to identify the largest share opportunities, growing MEC share by 2.9 pts in 7 Eleven during August of 2021 <br><br>
        Developed 38 store level specific dashboards, customizing each to meet key stakeholders needs, leading bi-monthly training sessions with ~100 attendees each time <br><br>
        Awarded Monster Category Department Rookie of the Year for leadership and performance <br><br><br>
    </div>
    <img class = "card-img w-25" src="{% static 'blog/images/bevland.png' %}" alt="">
    <div class="col-8">
        
        <p class="h5 bold-text">Monster Energy - Drug Retail Category Analyst - Jul. 2020 - Feb. 2021</p>
        Oversaw ~15,000 drug accounts in the US, assisting sales teams with creating data driven selling stories <br><br>
        Developed the first Walgreens PowerBI dashboard item sales by store by week <br><br>
        Grew MEC sales by $6MM (+16%) in 2020 at Walgreens, exceeding sales goals <br><br>
    </div>
    <img class = "card-img w-25" src="{% static 'blog/images/exdash.png' %}" alt="">
    
</div>

<br>
<br>
<br>


<div class="row mx-auto text-white d-flex align-items-center">
    <img class = "card-img w-25" src="{% static 'blog/images/IMG_1585.jpeg' %}" alt="">
    <div class="col-8">
        <p class="h5 bold-text">Gallo Sales Company - Savemart Category Analyst - Oct. 2017 - Jun. 2019 </p>
        Analyzed, drew and implemented schematic wine shelf sets for all 198 Save Mart Company stores <br><br><br>
        <p class="h5 bold-text">Gallo Sales Company - Wine and Spirits Chain Sales Representative - Jun. 2016 - Oct. 2017</p>
        Managed Gallo’s 70+ wine and spirits portfolio in 22 chain grocery stores in San Francisco area <br><br><br>
    </div>
</div>
<br>
<br>
<br>
<div class="row mx-auto text-white d-flex align-items-center">
    <p class="h3 bold-text">Education</p>
    <img class = "card-img w-25" src="{% static 'blog/images/uci.png' %}" alt="">
    <div class="col-8">
        <p class="h5 bold-text">University of Califonia Irvine - Paul Merage School of Business - Irvine CA - Aug. 2019 - June 2020</p>
        Master of Science in Business Analytics, GPA Overall 3.65/4.00 <br><br>
        Data Science Capstone Project: Edwards Lifesciences	   
        Analyzed GBs of product complaint text data within quality team, developing reusable model to predict severity of given complaint resulting in increased resource allocation efficiencies
        <br>
        <br>
        City of San Diego Project: “Get It Done!” mobile application analysis
        Performed natural language processing analysis on city non-emergency issue reporting application data, identifying and implementing new field to include in app “Bird Scooter Misplacement” 
        <br><br>
    </div>


    <div class="col-8">
        <p class="h5 bold-text">University of The Pacific - Eberhardt School of Business - Stockton CA - Aug. 2012 - May 2016</p>
        Bachelor of Science in Business Administration, Minor in Economics, Concentration Finance 
    <br>
    <br>
    GPA Overall: 3.49/4.00; Finance 3.58/4.00; Economics 3.5/4.00
    <br><br>
    Intercollegiate Athletics: NCAA Division I Men’s Water Polo	
    Balanced full academic course load while participating in 20+ hours of practice and strength training, National Runner-Up in 2013, Academic All-American
    <br><br>
    </div>
    <img class = "card-img w-25" src="{% static 'blog/images/uop.png' %}" alt="">
    </div>
 
 </div>   
<br>
<br>
<br>
<!-- <div class="text-center text-white">
    <p class="h3">Project Links</p>
</div> -->
<!-- <div class="row justify-content-center">
    <div class="col-3 card m-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>      
    </div>
    <div class="col-3 card m-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>      
    </div>
    <div class="col-3 card m-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>      
    </div> -->
</div>
</div>



{% endblock %}