{% extends "base.html" %}
{% load static %}

{% block title %}
About Me
{% endblock %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}
<div class="text-white">
<p class="text-center h3">About Me, coming soon :(</p>
<!-- </div>

<div class="row mx-auto text-white">
    <p class="h3">Mission statement</p>
    <div class="col-4">picture</div>
    <div class="col-8">
        Objective and passionate story-teller with 8+ years of experience with data engineering, transformation, analysis and visualization.  Enthusiastic about strategic problems requiring innovative thought leadership to solve.  Leading with values of communication, competitiveness, coachability and teamwork.</div>
</div>
<br>
<br>
<br>
<div class="row mx-auto text-white">
    <p class="h3">Work Experience</p>
    <div class="col-4">Picture Project Work</div>
    <div class="col-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga sed aliquid at corporis voluptate beatae incidunt quibusdam magni velit doloribus cum maxime, odio id quidem animi. Consequatur odit eaque totam.</div>
    <div class="col-8">
        <p class="h5">Large Store Business Intelligence Manager</p>
        Developed and managed holistic analytical suite of dashboard reporting for Large Store and Emerging Channels, collaborating with CCO and VPs to cater to their needs <br><br>
        Created companies first “Execution Dashboard” aggregating +350M rows of invoice data defining and tracking out of stocks and distribution success by store level resulting in increases of ~+5% distribution for focus brands <br><br>

        Developed internal “Channel Connect” system standardizing reporting for each retail channel on a automated basis, resulting in saving ~120 hours of time of manual reporting a year
        <p class="h5">Category Management Data Analyst</p>
        Responsible for developing and maintaining suite of internal Power BI point of sale dashboards, aggregating many sources of data, creating efficient pipelines and transforming using programmatic languages <br><br>
        Grew 97 users/4k unique views per month to 600 users/12k unique views per month in one year <br><br>
        Developed standardized report to identify the largest share opportunities, growing MEC share by 2.9 pts in 7 Eleven during August of 2021 <br><br>
        Developed 38 store level specific dashboards, customizing each to meet key stakeholders needs, leading bi-monthly training sessions with ~100 attendees each time <br><br>
        Awarded Monster Category Department Rookie of the Year for leadership and performance
    </div>
    <div class="col-4">picture Monster</div>
 
    <div class="col 4">picture Gallo</div>
    <div class="col-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit nulla dolore officia earum consequatur, esse sint expedita ducimus perspiciatis quia dignissimos harum vitae neque asperiores, vero, illum ratione? Doloribus, odio.</div>
</div>
<br>
<br>
<div class="row mx-auto text-white">
    <p class="h3">Education</p>
    <div class="col-8">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus ad voluptatem alias, et labore, consequuntur ullam vitae beatae eos tenetur corrupti cum totam, itaque architecto atque doloremque dolorum! Saepe?</div>
    <div class="col-4">picture UOP</div>
 
    <div class="col 4">picture UCI</div>
    <div class="col-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit nulla dolore officia earum consequatur, esse sint expedita ducimus perspiciatis quia dignissimos harum vitae neque asperiores, vero, illum ratione? Doloribus, odio.</div>
</div>
<br>
<br>
<br>
<div class="text-center text-white">
    <p class="h3">Project Links</p>
</div>
<div class="row justify-content-center">
    <div class="col-3 card m-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>      
    </div>
    <div class="col-3 card m-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>      
    </div>
    <div class="col-3 card m-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>      
    </div>
</div> -->



{% endblock %}