{% extends "base.html" %}
{% load static %}
{% block title %}
TrekBytes
{% endblock %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static "blog/index.css" %}">

{% endblock %}
{% block starting_page_header %}


  <div class="container">
    <div class="container text-white text-center">
      <p>
      
Welcome to the TrekBytes Blog! This project is a Django-based web application that serves as a personal blog to document travels and experiences. The blog features posts with images and the map was created by a geolocation tracking script, that would update each time I clicked the "Track Me" button.
      </p>
<br>
  </div>
 
      <div class="container">
        
        <h2 class="text-white text-center">Recent Posts</h2>
        <div class="row text-center mx-auto align-items-center">
          {% for post in posts %}
              {% include "blog/includes/carousel.html" %}
          {% endfor %}
          <a class="text-white text-center" href="{% url 'post-page' %}">View All Posts</a>
          
        </div>
        <br>
      </div>
    </div>

{% endblock %}
{% block content %}

<!-- Masthead-->

<!-- About-->
<section class="about-section text-center" id="about" style="position: relative;">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <h2 class="text-white">Destinations</h2>
              <p class="text-white">Zoom in to see route taken!</p>
                <div id="map" style="height: 30rem; width: 60rem; padding-bottom: 10px; border-radius: 25px; top: 0px;">
                <script>
                    function initMap() {
                      const map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 0, lng: 0 }, // Set the initial center of the map
                        zoom: 3, // Adjust the initial zoom level as needed
                      });
                  
                       const travelCoordinates = [
                            {% for geo in geolocations %}
                            { lat: {{ geo.latitude|floatformat:"2" }}, lng: {{ geo.longitude|floatformat:"2" }} },
                            {% endfor %}
                       ];

                       
                  
                      const travelPath = new google.maps.Polyline({
                        path: travelCoordinates,
                        geodesic: true,
                        strokeColor: '#FF0000', // Change the color as desired
                        strokeOpacity: 1.0,
                        strokeWeight: 2, // Adjust the thickness of the route line
                      });
                  
                      travelPath.setMap(map);
                  
                      const bounds = new google.maps.LatLngBounds();
                      for (const coord of travelCoordinates) {
                        bounds.extend(coord);
                        // Add a marker at each coordinate
                        new google.maps.Marker({
                          position: coord,
                          map: map,
                          title: 'Visited place', // You can set custom titles
                          icon: {
                            path: google.maps.SymbolPath.STAR, // Use a star symbol
                            scale: 1, // Adjust the size of the star
                            fillColor: 'yellow', // Set the color of the star
                            strokeColor: 'gold', // Set the outline color of the star
                            strokeWeight: 2 // Set the outline weight of the star
                          }
                        });
                      }
                      
                      map.fitBounds(bounds);
                    }
                  </script>
                  
                  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBop6l15og1-6XxAc6AWHsKxoLgQ6rKyPE&callback=initMap" async defer></script>
                  
            
        </div>
      </div>  
</section>

<!-- Projects-->

{% endblock %}
