
{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}
  <section class="container d-grid align-items-center justify-content-center" style="
  padding-top: 1rem;">
        <h2 class="text-center" style="color: #f8f9fa">{{ post.title }}</h2>
        <div class="text-center">
            {% for tag in post_tags %}
                <span class="badge bg-primary">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{{ post.image.url }}" class="img-thumbnail" alt="{{ post.title }}">
            <address class="text-center"><a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
            <div class="text-center text-white">
                Last updated on <time>{{ post.date|date:'SHORT_DATE_FORMAT' }}</time>
            </div>
        </article>
    </section>

    <main class="container mt-4 text-white text-center" style="border-radius: .25rem; background-color: #5ca2a490;">
        {{ post.content|safe }}
        <br>
        <br>
        <div class="container mt-4" style="background-color: transparent;">
            <div class="row">
                <div class="col-md-4 d-flex align-items-center">
                    <img src="{{ post.supportingimage.url }}" class="card-img" alt="Image 1 Description">
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    {{ post.content2|safe }}
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container mt-4" style="background-color: transparent;">
            <div class="row">
                <div class="col-md-4 d-flex align-items-center">
                    <img src="{{ post.supportingimage2.url }}" class="card-img" alt="Image 1 Description">
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    {{ post.content3|safe }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}



